## This file must be created by you with your Android SDK location
## Copy this file to local.properties and update the path

# Location of the Android SDK
# Windows example:
# sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk

# Mac/Linux example:
# sdk.dir=/Users/YourUsername/Library/Android/sdk

sdk.dir=YOUR_ANDROID_SDK_PATH_HERE
